body{
  background: #71bf79;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* @media screen (min-width:600px) {
  #download-apps-div{
    height: 0px;
  }
} */

h1,h2,h3,h4,h5,h6,p{
  color:black;
}

/* .navbar{
  position: fixed;
  width: 100%
} */

#carouselExampleInterval{
  padding: 50px 300px;
}

.carousel-control-prev {
margin-left: 90px
}
.carousel-control-next{
  margin-right: 90px;
}

.navbar-nav{
  display: flex;
  right:20px;
}

.card-deck{
  margin: 30px 30px;
}



#builder-div{
  margin: 20px 0;
  height: 150px;
  border-radius: 10px;
  border-color: orange;
  border-style: solid;
}

#builder-text{
  padding-top:20px;
  padding-bottom: 20px;
  height: 100%;
  width:70%;
  float: left;

}
#builder-go-button{
  background-color: red;
  border-radius: 10px;
  position: static;
  float: right;
  height: 100%;
  width:30%;
  right: 10px
}

#builder-go-button-text{
  text-align: center;
  margin-top:7.5%;
}

#download-apps-div{
  background-color: green;
  text-align: center;
  /* margin: auto; */
  padding: 20px;
  margin: 20px 0;
}

#download-apps-div h3{
  color:black;
}

footer{
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: static;
  width: 100%
  bottom: auto;
}

.footer-icon{
  font-size: 48px;
  margin: 10px 30px;
  color: yellow;
}
